
<div class="container-fluid h-100">


  <div class="row justify-content-center h-100">
    <div class="col-md-8 ">
      {{> searchbar}}
      <div id="myList" class="list-group">
        {{!-- {{#each docs}}
        <a href="/doctor/{{this._id}}" class="list-group-item list-group-item-action"> {{counter @index}}
          {{this.firstname}}
          {{this.lastname}}<br>{{this.specialty}}<br>{{this.address}}
          {{this.apartment}},{{this.city}},{{this.state}},{{this.zip}}</a>
        {{/each}} --}}
      </div>
      <div class="row">
        <div class="col-6">
          <a class="list-group-item" href="" onclick="prevPage(); return false;" id="prev">«</a>
        </div>
        <div class="col-6">
          <a class="list-group-item" href="" onclick="nextPage(); return false;" id="next">»</a>
        </div>
      </div>
    </div>
  <div id="map" class="col-md-4 h-100">
  </div>
</div>
</div>

<script>
  var decodedJson = decodeURIComponent(`{{{docsEncoded}}}`);
  var stores = JSON.parse(decodedJson);
  //  let stores = {{{ docs }}}; // the triple brackets
</script>